<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="6276692b-1756-422b-b66b-11722597c3ba" name="http://www.swapi.co TestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="6276692b-1756-422b-b66b-11722597c3bafileName">http%3A%2F%2Fwww.swapi.co-TestSuite</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
